In [433]:
import sys
sys.path.insert(0,'..')
import datetime

In [460]:
from coincast.database import DBManager
from sqlalchemy.sql import func
from coincast.model.coinone_tick import CoinoneTick
from coincast.model.trader_run_hist import SimulTraderRunHist
from coincast.model.trader import Trader
from coincast.model.trader_order import SimulTraderOrder

In [461]:
#DBManager.init('mysql://DEV:coincast@49.142.50.199/CC_DEV?charset=utf8')
DBManager.init('mysql://REAL:coincast@49.142.50.199/CC_REAL?charset=utf8')
DBManager.init_db()

/Users/1003874/anaconda/envs/lstm/lib/python3.6/site-packages/sqlalchemy/dialects/mysql/base.py:1546: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  cursor.execute('SELECT @@tx_isolation')

In [462]:
from coincast.database import dao

In [5]:
# from sqlalchemy import create_engine

# engine = create_engine('mysql://DEV:coincast@49.142.50.199/CC_DEV?charset=utf8', pool_size=5, pool_recycle=5, echo=True, echo_pool=True)

# #SimulTraderRunHist.__table__.drop(engine)
# SimulTraderOrder.__table__.drop(engine)

In [6]:
from time import strftime, localtime
from datetime import datetime, timedelta

In [7]:
start_dt = strftime('%Y/%m/%d %H:%M:%S', localtime())

In [8]:
#dao.query(SimulTraderRunHist.start_dt).filter(SimulTraderRunHist.run_no == 1).update({SimulTraderRunHist.start_dt: start_dt})

In [9]:
#dao.commit()

In [10]:
#dao.query(SimulTraderRunHist.end_dt).filter(SimulTraderRunHist.run_no == 1).all()

In [11]:
yesterday = datetime.now()
yesterday

datetime.datetime(2018, 1, 1, 11, 25, 58, 475685)

In [12]:
N = 15
(60/N) * func.HOUR() + func.FLOOR( func.MINUTE() / N )

In [13]:
tick_data = dao.query((60/N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR( func.MINUTE(CoinoneTick.create_dt) / N )
                      ,func.max(CoinoneTick.last)
                      ,func.min(CoinoneTick.last)) \
        .filter_by(currency='iota') \
        .filter(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H') >= yesterday.strftime('%Y,%m,%d'))\
        .group_by((60/N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR( func.MINUTE(CoinoneTick.create_dt) / N )) \
        .order_by(((60/N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR( func.MINUTE(CoinoneTick.create_dt) / N )).desc()) \
        .limit(14).all()
#.group_by(func.date_format(CoinoneTick.create_dt, '%Y-%m-%d %H:%M')).limit(5).all()

dao.remove()
tick_data

2018-01-01 11:26:04,426 INFO sqlalchemy.pool.QueuePool Connection <_mysql.connection open to '49.142.50.199' at 7f99bf5b0a18> exceeded timeout; recycling

[(45, 4860, 4850),
 (44, 4860, 4830),
 (43, 4860, 4830),
 (42, 4860, 4830),
 (41, 4870, 4830),
 (40, 4880, 4860),
 (39, 4890, 4860),
 (38, 4890, 4870),
 (37, 4880, 4860),
 (36, 4890, 4850),
 (35, 4860, 4850),
 (34, 4860, 4840),
 (33, 4860, 4850),
 (32, 4870, 4850)]

In [273]:
yesterday = datetime.now() - timedelta(hours=24)
yesterday

datetime.datetime(2017, 12, 31, 12, 31, 40, 458853)

In [400]:
currency = 'xrp'
tick_data = dao.query(CoinoneTick.create_dt,CoinoneTick.last) \
        .filter_by(currency=currency) \
        .filter(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H') >= yesterday.strftime('%Y,%m,%d'))\
        .filter(func.Minute(CoinoneTick.create_dt).in_([0,15,30,45]))\
        .filter(func.Second(CoinoneTick.create_dt) < 5) \
        .order_by(CoinoneTick.create_dt.desc())\
        .limit(13)\
        .all()

curr_tick = dao.query(CoinoneTick.last)\
        .filter_by(currency=currency)\
        .filter(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H') >= yesterday.strftime('%Y,%m,%d'))\
        .order_by(CoinoneTick.create_dt.desc())\
        .first()
dao.remove()

2018-01-01 14:56:08,003 INFO sqlalchemy.pool.QueuePool Connection <_mysql.connection open to '49.142.50.199' at 7f99bcdadc18> exceeded timeout; recycling

In [401]:
tick_data

[(datetime.datetime(2018, 1, 1, 14, 45, 1), 2728),
 (datetime.datetime(2018, 1, 1, 14, 30, 2), 2691),
 (datetime.datetime(2018, 1, 1, 14, 15, 1), 2697),
 (datetime.datetime(2018, 1, 1, 14, 0, 1), 2700),
 (datetime.datetime(2018, 1, 1, 13, 45, 1), 2715),
 (datetime.datetime(2018, 1, 1, 13, 30, 1), 2701),
 (datetime.datetime(2018, 1, 1, 13, 15, 2), 2706),
 (datetime.datetime(2018, 1, 1, 13, 0, 1), 2723),
 (datetime.datetime(2018, 1, 1, 12, 45, 1), 2716),
 (datetime.datetime(2018, 1, 1, 12, 30, 1), 2730),
 (datetime.datetime(2018, 1, 1, 12, 15, 2), 2730),
 (datetime.datetime(2018, 1, 1, 12, 0, 2), 2766),
 (datetime.datetime(2018, 1, 1, 11, 45, 2), 2764)]

In [402]:
curr_tick

(2730)

In [403]:
tick_data

[(datetime.datetime(2018, 1, 1, 14, 45, 1), 2728),
 (datetime.datetime(2018, 1, 1, 14, 30, 2), 2691),
 (datetime.datetime(2018, 1, 1, 14, 15, 1), 2697),
 (datetime.datetime(2018, 1, 1, 14, 0, 1), 2700),
 (datetime.datetime(2018, 1, 1, 13, 45, 1), 2715),
 (datetime.datetime(2018, 1, 1, 13, 30, 1), 2701),
 (datetime.datetime(2018, 1, 1, 13, 15, 2), 2706),
 (datetime.datetime(2018, 1, 1, 13, 0, 1), 2723),
 (datetime.datetime(2018, 1, 1, 12, 45, 1), 2716),
 (datetime.datetime(2018, 1, 1, 12, 30, 1), 2730),
 (datetime.datetime(2018, 1, 1, 12, 15, 2), 2730),
 (datetime.datetime(2018, 1, 1, 12, 0, 2), 2766),
 (datetime.datetime(2018, 1, 1, 11, 45, 2), 2764)]

In [404]:
s = pd.DataFrame(tick_data,columns=['time','last'])
s

                  time  last
0  2018-01-01 14:45:01  2728
1  2018-01-01 14:30:02  2691
2  2018-01-01 14:15:01  2697
3  2018-01-01 14:00:01  2700
4  2018-01-01 13:45:01  2715
5  2018-01-01 13:30:01  2701
6  2018-01-01 13:15:02  2706
7  2018-01-01 13:00:01  2723
8  2018-01-01 12:45:01  2716
9  2018-01-01 12:30:01  2730
10 2018-01-01 12:15:02  2730
11 2018-01-01 12:00:02  2766
12 2018-01-01 11:45:02  2764

In [405]:
s.shift(1)

                  time    last
0                  NaT     NaN
1  2018-01-01 14:45:01  2728.0
2  2018-01-01 14:30:02  2691.0
3  2018-01-01 14:15:01  2697.0
4  2018-01-01 14:00:01  2700.0
5  2018-01-01 13:45:01  2715.0
6  2018-01-01 13:30:01  2701.0
7  2018-01-01 13:15:02  2706.0
8  2018-01-01 13:00:01  2723.0
9  2018-01-01 12:45:01  2716.0
10 2018-01-01 12:30:01  2730.0
11 2018-01-01 12:15:02  2730.0
12 2018-01-01 12:00:02  2766.0

In [406]:
def get_rsi(seq):
    diff_prev = seq.shift(1) - seq
    print(diff_prev)
    AU = diff_prev[diff_prev > 0].sum() 
    AD = -diff_prev[diff_prev <= 0].sum()
    print(AU,AD)
    RSI = round(AU / (AU + AD) * 100, 2)
    return RSI

In [407]:
tick_last = [ float(last) for time,last in tick_data]
tick_last.insert(0,curr_tick[0])
tick_last

[2730,
 2728.0,
 2691.0,
 2697.0,
 2700.0,
 2715.0,
 2701.0,
 2706.0,
 2723.0,
 2716.0,
 2730.0,
 2730.0,
 2766.0,
 2764.0]

In [408]:
get_rsi(pd.Series(tick_last))

0      NaN
1      2.0
2     37.0
3     -6.0
4     -3.0
5    -15.0
6     14.0
7     -5.0
8    -17.0
9      7.0
10   -14.0
11     0.0
12   -36.0
13     2.0
dtype: float64
62.0 96.0

39.24

In [489]:
hist = dao.query(SimulTraderRunHist) \
    .filter(SimulTraderRunHist.run_no == 6) \
    .one()

2018-01-01 18:46:53,739 INFO sqlalchemy.pool.QueuePool Connection <_mysql.connection open to '49.142.50.199' at 7f99bcda0e18> exceeded timeout; recycling

In [490]:
hist.num_of_order

5

In [491]:
hist.cur_balance

1000

In [488]:
dao.query(SimulTraderRunHist) \
    .filter(SimulTraderRunHist.run_no == 6) \
    .update({SimulTraderRunHist.cur_balance: 1000,
             SimulTraderRunHist.num_of_order : SimulTraderRunHist.num_of_order + 1})
dao.commit()