In [1]:
import sys
sys.path.insert(0,'..')
import datetime

In [2]:
from coincast.database import DBManager
from sqlalchemy.sql import func
from coincast.model.coinone_tick import CoinoneTick
from coincast.model.trader_run_hist import SimulTraderRunHist
from coincast.model.trader import Trader
from coincast.model.trader_order import SimulTraderOrder

In [3]:
#DBManager.init('mysql://DEV:coincast@49.142.50.199/CC_DEV?charset=utf8')
DBManager.init('mysql://REAL:coincast@49.142.50.199/CC_REAL?charset=utf8')
DBManager.init_db()

/Users/1003874/anaconda/envs/lstm/lib/python3.6/site-packages/sqlalchemy/dialects/mysql/base.py:1546: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  cursor.execute('SELECT @@tx_isolation')

In [4]:
from coincast.database import dao

In [5]:
# from sqlalchemy import create_engine

# engine = create_engine('mysql://DEV:coincast@49.142.50.199/CC_DEV?charset=utf8', pool_size=5, pool_recycle=5, echo=True, echo_pool=True)

# #SimulTraderRunHist.__table__.drop(engine)
# SimulTraderOrder.__table__.drop(engine)

In [6]:
from time import strftime, localtime
from datetime import datetime, timedelta

In [7]:
start_dt = strftime('%Y/%m/%d %H:%M:%S', localtime())

In [8]:
#dao.query(SimulTraderRunHist.start_dt).filter(SimulTraderRunHist.run_no == 1).update({SimulTraderRunHist.start_dt: start_dt})

In [9]:
#dao.commit()

In [10]:
#dao.query(SimulTraderRunHist.end_dt).filter(SimulTraderRunHist.run_no == 1).all()

In [11]:
yesterday = datetime.now()
yesterday

datetime.datetime(2018, 1, 1, 11, 25, 58, 475685)

In [12]:
N = 15
(60/N) * func.HOUR() + func.FLOOR( func.MINUTE() / N )

In [13]:
tick_data = dao.query((60/N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR( func.MINUTE(CoinoneTick.create_dt) / N )
                      ,func.max(CoinoneTick.last)
                      ,func.min(CoinoneTick.last)) \
        .filter_by(currency='iota') \
        .filter(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H') >= yesterday.strftime('%Y,%m,%d'))\
        .group_by((60/N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR( func.MINUTE(CoinoneTick.create_dt) / N )) \
        .order_by(((60/N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR( func.MINUTE(CoinoneTick.create_dt) / N )).desc()) \
        .limit(14).all()
#.group_by(func.date_format(CoinoneTick.create_dt, '%Y-%m-%d %H:%M')).limit(5).all()

dao.remove()
tick_data

2018-01-01 11:26:04,426 INFO sqlalchemy.pool.QueuePool Connection <_mysql.connection open to '49.142.50.199' at 7f99bf5b0a18> exceeded timeout; recycling

[(45, 4860, 4850),
 (44, 4860, 4830),
 (43, 4860, 4830),
 (42, 4860, 4830),
 (41, 4870, 4830),
 (40, 4880, 4860),
 (39, 4890, 4860),
 (38, 4890, 4870),
 (37, 4880, 4860),
 (36, 4890, 4850),
 (35, 4860, 4850),
 (34, 4860, 4840),
 (33, 4860, 4850),
 (32, 4870, 4850)]

In [273]:
yesterday = datetime.now() - timedelta(hours=24)
yesterday

datetime.datetime(2017, 12, 31, 12, 31, 40, 458853)

In [380]:
currency = 'iota'
tick_data = dao.query(CoinoneTick.create_dt,CoinoneTick.last) \
        .filter_by(currency=currency) \
        .filter(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H') >= yesterday.strftime('%Y,%m,%d'))\
        .filter(func.Minute(CoinoneTick.create_dt).in_([0,15,30,45]))\
        .filter(func.Second(CoinoneTick.create_dt) < 5) \
        .order_by(CoinoneTick.create_dt.desc())\
        .limit(13)\
        .all()

curr_tick = dao.query(CoinoneTick.last)\
        .filter_by(currency=currency)\
        .filter(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H') >= yesterday.strftime('%Y,%m,%d'))\
        .order_by(CoinoneTick.create_dt.desc())\
        .first()
dao.remove()

2018-01-01 12:43:27,690 INFO sqlalchemy.pool.QueuePool Connection <_mysql.connection open to '49.142.50.199' at 7f99bf5df818> exceeded timeout; recycling

In [381]:
tick_data

[(datetime.datetime(2018, 1, 1, 12, 30, 1), 4880),
 (datetime.datetime(2018, 1, 1, 12, 15, 2), 4870),
 (datetime.datetime(2018, 1, 1, 12, 0, 2), 4860),
 (datetime.datetime(2018, 1, 1, 11, 45, 2), 4860),
 (datetime.datetime(2018, 1, 1, 11, 30, 1), 4850),
 (datetime.datetime(2018, 1, 1, 11, 15, 1), 4860),
 (datetime.datetime(2018, 1, 1, 11, 0, 1), 4840),
 (datetime.datetime(2018, 1, 1, 10, 45, 1), 4850),
 (datetime.datetime(2018, 1, 1, 10, 30, 1), 4830),
 (datetime.datetime(2018, 1, 1, 10, 15, 2), 4870),
 (datetime.datetime(2018, 1, 1, 10, 0, 1), 4860),
 (datetime.datetime(2018, 1, 1, 9, 45, 1), 4890),
 (datetime.datetime(2018, 1, 1, 9, 30, 1), 4870)]

In [382]:
curr_tick

(4920)

In [383]:
tick_data

[(datetime.datetime(2018, 1, 1, 12, 30, 1), 4880),
 (datetime.datetime(2018, 1, 1, 12, 15, 2), 4870),
 (datetime.datetime(2018, 1, 1, 12, 0, 2), 4860),
 (datetime.datetime(2018, 1, 1, 11, 45, 2), 4860),
 (datetime.datetime(2018, 1, 1, 11, 30, 1), 4850),
 (datetime.datetime(2018, 1, 1, 11, 15, 1), 4860),
 (datetime.datetime(2018, 1, 1, 11, 0, 1), 4840),
 (datetime.datetime(2018, 1, 1, 10, 45, 1), 4850),
 (datetime.datetime(2018, 1, 1, 10, 30, 1), 4830),
 (datetime.datetime(2018, 1, 1, 10, 15, 2), 4870),
 (datetime.datetime(2018, 1, 1, 10, 0, 1), 4860),
 (datetime.datetime(2018, 1, 1, 9, 45, 1), 4890),
 (datetime.datetime(2018, 1, 1, 9, 30, 1), 4870)]

In [384]:
s = pd.DataFrame(tick_data,columns=['time','last'])
s

                  time  last
0  2018-01-01 12:30:01  4880
1  2018-01-01 12:15:02  4870
2  2018-01-01 12:00:02  4860
3  2018-01-01 11:45:02  4860
4  2018-01-01 11:30:01  4850
5  2018-01-01 11:15:01  4860
6  2018-01-01 11:00:01  4840
7  2018-01-01 10:45:01  4850
8  2018-01-01 10:30:01  4830
9  2018-01-01 10:15:02  4870
10 2018-01-01 10:00:01  4860
11 2018-01-01 09:45:01  4890
12 2018-01-01 09:30:01  4870

In [385]:
s.shift(1)

                  time    last
0                  NaT     NaN
1  2018-01-01 12:30:01  4880.0
2  2018-01-01 12:15:02  4870.0
3  2018-01-01 12:00:02  4860.0
4  2018-01-01 11:45:02  4860.0
5  2018-01-01 11:30:01  4850.0
6  2018-01-01 11:15:01  4860.0
7  2018-01-01 11:00:01  4840.0
8  2018-01-01 10:45:01  4850.0
9  2018-01-01 10:30:01  4830.0
10 2018-01-01 10:15:02  4870.0
11 2018-01-01 10:00:01  4860.0
12 2018-01-01 09:45:01  4890.0

In [386]:
def get_rsi(seq):
    diff_prev = seq.shift(1) - seq
    print(diff_prev)
    AU = diff_prev[diff_prev > 0].sum() 
    AD = -diff_prev[diff_prev <= 0].sum()
    print(AU,AD)
    RSI = round(AU / (AU + AD) * 100, 2)
    return RSI

In [387]:
tick_last = [ float(last) for time,last in tick_data]
tick_last.insert(0,curr_tick[0])
tick_last

[4920,
 4880.0,
 4870.0,
 4860.0,
 4860.0,
 4850.0,
 4860.0,
 4840.0,
 4850.0,
 4830.0,
 4870.0,
 4860.0,
 4890.0,
 4870.0]

In [388]:
get_rsi(pd.Series(tick_last))

0      NaN
1     40.0
2     10.0
3     10.0
4      0.0
5     10.0
6    -10.0
7     20.0
8    -10.0
9     20.0
10   -40.0
11    10.0
12   -30.0
13    20.0
dtype: float64
140.0 90.0

60.87

In [389]:
tick_data = dao.query(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H'), func.avg(CoinoneTick.last)) \
        .filter_by(currency='bch') \
        .group_by(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H')) \
        .order_by(func.date_format(CoinoneTick.create_dt, '%Y,%m,%d,%H').desc()) \
        .limit(24).all()

In [ ]:
tick_data

In [ ]:
tick_list = [(time.split(','), float(tick)) for (time, tick) in tick_data]

In [ ]:
tick_list = [(time.split(','), float(tick)) for (time, tick) in tick_data]
tick_last = [float(tick) for time, tick in tick_data]

In [ ]:
tick_list

In [ ]:
tick_last

In [ ]:
np.max(tick_last)

In [ ]:
round(np.max(tick_last)) + round(np.max(tick_last)*0.1)

In [ ]:
import datetime

In [ ]:
datetime.datetime.now()

In [ ]:
datetime.datetime.now() - datetime.timedelta(hours=24)

In [ ]:
y_max = round(np.max(tick_last)) + round(np.max(tick_last)*0.1)
y_min = round(np.min(tick_last)) - round(np.min(tick_last)*0.1)

In [ ]:
trader  = dao.query(SimulTraderRunHist, Trader).filter(SimulTraderRunHist.end_dt is not None,\
                                                       Trader.trader_no == SimulTraderRunHist.trader_no).all()
trader

In [ ]:
trader[0]

In [ ]:
price = dao.query(CoinoneTick.last)\
            .filter(CoinoneTick.currency == 'xrp')\
            .order_by(CoinoneTick.create_dt.desc())\
            .first()

In [72]:
(60 / N) * func.HOUR(CoinoneTick.create_dt) + func.FLOOR(func.MINUTE(CoinoneTick.create_dt) / N)

In [396]:
time_unit = 60
time = [i*time_unit for i in range(int(60 / time_unit))]

In [397]:
time

[0]